<!DOCTYPE html>
<html>
<head>
 <head>

  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to E-Assignmento</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
     .prof-1::after{
        content:'  <%= name %>';
        color:white;
  
   
 
      }
      .google {
    background-color:red;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    bottom: -15px;
}

  </style>
</head>


<body>
  <!-- ======= Header ======= -->
  <!-- <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html"><span>E-</span>Assignmento</a></h1>
     
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
         
          <li class="menu-has-children"><a href="">Special Links</a>
            <ul>
              <li><a href="#">Find Your College Metarial</a></li>
            
            </ul>
          </li>
          <li><a href="#blog">New Posts</a></li>
        
        </ul>
      </nav>
    </div>
  </header> --><!-- End Header -->
  <%- include('./header.ejs') -%>
  <!-- FORM SECTION START -->
  <br><br> <br><br>
  <h2 class="text-center" style="z-index: 999999;margin-top: 50px">Add New Problem</h2>
  <br>


 <!-- code for alert starts -->
<% if(message!="") {
  %>
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong></strong><%= message %>
  </div>

<%}%>

<!-- code for elert ends -->


  <br>
<form class="form-horizontal"  method="POST" action="add_new_problem" enctype="multipart/form-data">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4">problem_id<span style="color:red">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="problem_id" value="" required>
      </div>
    </div>


     <div class="form-group">
      <label class="control-label col-sm-4">contest_id</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="contest_id" value="">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4">problem name<span style="color:red">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name=" problem_name"value="" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4">problem_text</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="problem_text" value="">
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label col-sm-2">setter name</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="2" name="problem_setter_name" value=""></textarea>
      </div>
    </div>
  </div>



  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">topic tag<span style="color:red">*</span></label>
      <div class="col-sm-8">
        <input type="text" class=" form-control" name="topic_tag" required>
      </div>
    </div>
  </div>

  
  
  

 
  
  

  <div   style="margin: auto;text-align: center;margin-bottom:40px">

   <input type="submit" value="submit" class="btn btn-primary">
   
  </div>
</form>

  <!-- FORM SECTION ENDS -->


<%- include('footer')-%>

 <!-- End  Footer -->
  

  </body>
  </html>