<!DOCTYPE html>
<html>
<head>
 <head>

  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to E-Assignmento</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
     .prof-1::after{
        content:'  <%= name %>';
        color:white;
  
   
 
      }


      .google {
    background-color:red;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    bottom: -15px;
}

  </style>
</head>


<body>
 
  <%- include('./header.ejs') -%>
<br>
    <br>
    <br>
    <br>
    <br>
  
   <div class="d-flex flex-row">
      
    <div class="container border">
      <h3 class="text-center">  problem title</h3>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum felis eu molestie tincidunt. Suspendisse nec lobortis quam. Vivamus iaculis nisl at tellus fringilla, non interdum nisi tempor. Quisque vel lacus consequat elit tempor venenatis ut at ligula. Etiam posuere mauris sed sem condimentum sagittis. Fusce ullamcorper nisl vel euismod vehicula. Ut lorem magna, eleifend ac malesuada ut, tempor a dolor. In hac habitasse platea dictumst. Praesent vel ipsum a libero porta mattis. Pellentesque pharetra volutpat mattis.

Suspendisse pretium malesuada nunc, vel sodales sem laoreet eu. Etiam bibendum, enim id sodales scelerisque, odio dui placerat ligula, sed tristique ipsum quam et metus. Duis volutpat ornare ex, vel pulvinar erat porta at. Nam sollicitudin, tellus vel luctus tempor, sapien lorem bibendum augue, ac volutpat dolor ex eu dolor. Suspendisse potenti. Sed mattis pulvinar pulvinar. Vestibulum id ultricies massa. Aenean sit amet auctor dui. Cras orci nibh, condimentum ac nulla eget, pulvinar consectetur enim.

Nunc vitae tempus sem, sit amet congue orci. Nunc lacus tellus, tempus at elit vitae, maximus blandit magna. Proin urna neque, interdum a nunc eget, egestas eleifend augue. Donec hendrerit, risus ut tristique ullamcorper, ante nibh rhoncus tortor, vitae commodo felis dui ut arcu. Aenean at enim lorem. Duis ornare egestas blandit. Nullam sagittis porttitor lacus sit amet facilisis. Phasellus sapien nisl, rutrum sed nibh nec, malesuada elementum elit.

Fusce sed tincidunt tortor. Vestibulum non nulla mauris. In sed velit gravida, feugiat lectus at, tristique quam. Quisque tempus lacus dui, egestas suscipit nunc ultricies non. Nunc sagittis tristique turpis ac dapibus. Suspendisse congue tristique ex eu scelerisque. Cras nec massa ornare, placerat purus vel, volutpat ante. Suspendisse potenti. Duis eleifend, enim vel iaculis consectetur, massa nunc imperdiet elit, quis imperdiet nibh ligula non est.

Aliquam elit quam, volutpat vitae scelerisque at, venenatis non sapien. Proin elementum felis non lorem condimentum ultricies. Fusce euismod consequat enim, feugiat tincidunt libero. Vivamus eu porta ante, vitae dictum erat. Nunc sit amet interdum est. Quisque nec auctor justo, eu porttitor turpis. Aenean at tortor dictum, sodales arcu sed, fermentum ligula.
      </p>

<div>
  <!-- ques-1 -->
  <div>
    <div>
   Q1: iat tincidunt libero. Vivamus eu porta ante, vitae dictum erat. Nunc sit amet interdum est. Quisque nec auctor justo, eu porttitor turpis. Aenean at tortor dictum, sodales arcu sed, fermentum l
  </div>
  <div >
    <input type="checkbox"  value="" > option1
 </div>
 <div >
    <input type="checkbox" value="">  Option 2
 </div>
 <div >
    <input type="checkbox"  value="" >  Option 3
 </div>
  </div>
  <!-- ques-2 -->
<div>
    <div>
   Q1: iat tincidunt libero. Vivamus eu porta ante, vitae dictum erat. Nunc sit amet interdum est. Quisque nec auctor justo, eu porttitor turpis. Aenean at tortor dictum, sodales arcu sed, fermentum l
  </div>
  <div >
    <input type="checkbox"  value="" > option1
 </div>
 <div >
    <input type="checkbox" value="">  Option 2
 </div>
 <div >
    <input type="checkbox"  value="" >  Option 3
 </div>
  </div>
  <!-- ques-2 ends -->

  <!-- ques-3 start -->
  <div>
    <div>
   Q1: iat tincidunt libero. Vivamus eu porta ante, vitae dictum erat. Nunc sit amet interdum est. Quisque nec auctor justo, eu porttitor turpis. Aenean at tortor dictum, sodales arcu sed, fermentum l
  </div>
  <div >
    <input type="checkbox"  value="" > option1
 </div>
 <div >
    <input type="checkbox" value="">  Option 2
 </div>
 <div >
    <input type="checkbox"  value="" >  Option 3
 </div>
  </div>
  <!-- ques-3 ends -->

  <!-- submit btn start -->
  <div class="btn btn-primary text-center" style="margin-left:45%;margin-bottom:23px;">Submit</div>
  <!-- submit btn ends -->
  
</div>





    </div>
    <div class="d-felx flex-column border" style="margin: auto;margin-right:40px; padding:10px">
      <h5 class="text-center">24:00 </h5><br>
      <div class="btn btn-primary"> rank:345</div>

    </div>
  </div>

  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

 
  <%- include('footer')-%>

   <!-- End  Footer -->
  

  </body>
  </html>